:root {
  --color-primary-more-dark: #01041a;
  --color-primary-dark: #002652;
  --color-primary: #055569;
  --color-primary-light: #96c7d8;
  --color-primary-more-light: #f3ffe3;
  --color-primary-accent: #e040fb;
}
